:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #4CAF50;  
  --secondary-color: #007bff;
  
  --primary-color-light: #dcefdc;
  --secondary-color-light: #66bfff;
  
  --primary-color-dark: #388e3c;
  --secondary-color-dark: #0056b3;

  --font-color: #333;
  
  --spacing-unit-0: 2px; /* для минимального разграничения элементов внутри одного блока */
  --spacing-unit-1: 4px; /* для разграничения блоков внутри одной функциональной группы */
  --spacing-unit-2: 6px; /* для разграничения функциональных групп */
  --spacing-unit-3: 8px; 
  --spacing-unit-4: 12px; 
  
}  

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #eee;
  min-height: 100vh;
  overscroll-behavior-y: contain; /* fix refresh on scroll */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: #eee;
  color: #555;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 14px;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.content-block {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  padding: 6px;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

.loading-block {
  animation: blink 1.5s ease-in-out infinite;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */